// $bgProfessionalBlue: #2F5E8E;
$bgProfessionalBlue: #30a1c0;
$bgPersonalOrange: #ff9c3c;
$darkGrey: #0e4754;
$bgLightGrey: #f5f5f2;
$bgImgBlue: #30a1c0;
$bgWhiteGrey: #FAFAF7;
$innerBlue: #7bc2d3;
$innerOrange: #FFCD82;
$bgHoverBlue: #275e6e;
$bgHoverOrange: #C9470E;