/**
* SassFlexbox
* Manage Flexbox in Sass easily.
*
* @author     Samuel Marchal (zessx)
* @version    0.1
*/
/*
    Display
 */
#overview_section, .flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

/*
    Flex direction
 */
#overview_section, .flex-container {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

/*
    Flex wrap
 */
#overview_section, .flex-container {
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: none;
  flex-wrap: nowrap; }

/*
    Flex flow
 */
/*
    Order
 */
/*
    Flex grow
 */
/*
    Flex shrink
 */
/*
    Flex basis
 */
/*
    Flex
 */
/*
    Justify content
 */
#overview_section, .flex-container {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-flex-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center; }

/*
    Align items
 */
#overview_section, .flex-container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

/*
    Align self
 */
/*
    Align content
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Mada', sans-serif; }

#overview_section {
  min-height: 100vh;
  background: #FAFAF7; }

#hello_title {
  width: inherit;
  font-size: 22em;
  font-weight: 900;
  color: white;
  -webkit-background-clip: text;
  -webkit-background-color: transparent; }

.row, .container-fluid {
  margin: 0; }

#summary {
  text-align: center;
  font-size: 4.5vw;
  max-width: 78%; }

#explore {
  font-size: 4vw;
  font-weight: bolder;
  color: white;
  background-color: #30a1c0;
  display: inline-block;
  text-align: center;
  padding: 0.4em 1.3em;
  margin-top: 1.3em;
  margin-bottom: 3vh;
  border: none;
  border-radius: 0.2em;
  position: absolute;
  bottom: 0;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color; }
  #explore:hover {
    background-color: #267f97; }

#options_section {
  color: #0e4754;
  background: #f5f5f2;
  text-align: center; }
  #options_section h2 {
    font-size: 7.5vw;
    padding-top: 7%;
    padding-bottom: 5%; }

.text-center {
  padding: 1px; }

#professional, #personal {
  background: #f5f5f2;
  min-height: 90vh; }

#professional .flex-item {
  background-color: #30a1c0;
  border-radius: 0.2em;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color; }
  #professional .flex-item:hover {
    background-color: #FAFAF7;
    color: #174b5a; }

#personal .flex-item {
  background-color: #ff9c3c;
  border-radius: 0.2em;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color; }
  #personal .flex-item:hover {
    background-color: #FAFAF7;
    color: #C9470E; }

.flex-item {
  color: #FAFAF7;
  margin: 0.25em;
  width: 85vw;
  font-size: 4vw;
  padding: 0.25em; }
  .flex-item:hover {
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4); }
    .flex-item:hover img.desaturate {
      filter: none;
      -webkit-filter: grayscale(0%); }
    .flex-item:hover .skillset .skill-item .skill-bar {
      background: #dfdfd5; }
  .flex-item h3 {
    font-size: 5.5vw;
    text-align: left;
    padding-left: 5%;
    padding-top: 5%; }
  .flex-item p {
    text-align: left;
    padding-left: 5%;
    padding-bottom: 2%; }
  .flex-item img.desaturate {
    opacity: 0.7;
    filter: alpha(opacity=50);
    filter: gray;
    filter: grayscale(100%); }

.flex-item #about_img {
  width: 25vw; }

.flex-item #sb_img {
  height: 15vh; }

.flex-item #football_img {
  height: 13vh; }

.skillset .skill-item {
  margin-bottom: 0.7em;
  overflow: hidden;
  padding: 0 3% 1% 3%; }
  .skillset .skill-item .skill-title {
    font-size: 4vw;
    margin-top: 0;
    margin-bottom: 0.7em; }
  .skillset .skill-item .skill-bar {
    height: 0.5em;
    background: #f5f5f2; }
    .skillset .skill-item .skill-bar .skill-bar-inner {
      height: inherit;
      background: #7bc2d3; }
    .skillset .skill-item .skill-bar .language {
      background: #FFCD82; }

#skills .skillset .skill-item:nth-child(1) .skill-bar .skill-bar-inner {
  width: 90%; }
#skills .skillset .skill-item:nth-child(2) .skill-bar .skill-bar-inner {
  width: 90%; }
#skills .skillset .skill-item:nth-child(3) .skill-bar .skill-bar-inner {
  width: 75%; }
#skills .skillset .skill-item:nth-child(4) .skill-bar .skill-bar-inner {
  width: 80%; }
#skills .skillset .skill-item:nth-child(5) .skill-bar .skill-bar-inner {
  width: 85%; }
#skills .skillset .skill-item:nth-child(6) .skill-bar .skill-bar-inner {
  width: 85%; }

#languages .skillset .skill-item:nth-child(1) .skill-bar .skill-bar-inner {
  width: 100%; }
#languages .skillset .skill-item:nth-child(2) .skill-bar .skill-bar-inner {
  width: 95%; }
#languages .skillset .skill-item:nth-child(3) .skill-bar .skill-bar-inner {
  width: 75%; }
#languages .skillset .skill-item:nth-child(4) .skill-bar .skill-bar-inner {
  width: 50%; }

.col-lg-6, .col-md-6, .col-xs-12 {
  padding: 0; }

#contact_form {
  min-height: 100vh; }
  #contact_form h3 {
    font-size: 5vw;
    padding: 0 1.5em 0.5em; }

form {
  width: 87vw;
  font-size: 3.8vw;
  margin: 0 auto; }
  form label {
    display: inline-block;
    text-align: left;
    width: 24%;
    font-weight: lighter;
    border-radius: 0.2em 0 0 0.2em; }
  form input:not([type=submit]), form select {
    width: 75%;
    border: none;
    border-radius: 0 0.2em 0.2em 0; }
  form .form-group {
    border: 1px solid black;
    border-radius: 0.2em; }
  form select option {
    font-size: 1.5vw; }
  form label, form input, form select, form textarea {
    margin: 0;
    padding: 0.7em 0.4em;
    background: white;
    float: none;
    /* if you had floats before? otherwise inline-block will behave differently */
    display: inline-block;
    vertical-align: middle; }
    form label:focus, form input:focus, form select:focus, form textarea:focus {
      border: none;
      outline: none; }
  form textarea {
    width: 100%;
    border: none;
    border-radius: 0 0 0.2em 0.2em; }
  form #message_form-group label {
    border-radius: 0.2em 0.2em 0 0;
    display: block;
    width: 100%; }
  form input[type=submit] {
    font-size: 4vw;
    font-weight: bolder;
    color: #FAFAF7;
    background-color: #30a1c0;
    display: inline-block;
    text-align: center;
    padding: 0.4em 1.3em;
    margin-top: 0.5em;
    margin-bottom: 5vh;
    border: none;
    border-radius: 0.2em;
    bottom: 0;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color; }
    form input[type=submit]:hover {
      background-color: #267f97; }

.clickable {
  transition: all 0.5s ease 0s; }

.fa-envelope, .fa-phone {
  color: #ff9c3c; }

.fa-facebook-square, .fa-instagram,
.fa-github, .fa-linkedin-square,
.fa-facebook-square:visited, .fa-instagram:visited,
.fa-linkedin-square:visited, .fa-github:visited,
.fa-facebook-square:link, .fa-instagram:link,
.fa-linkedin-square:link, .fa-github:link {
  text-decoration: none;
  color: #30a1c0; }

.fa-facebook-square:hover, .fa-instagram:hover,
.fa-linkedin-square:hover, .fa-github:hover {
  text-decoration: none;
  color: #267f97; }

.connect-icons {
  margin-bottom: 5vh; }
  .connect-icons a {
    margin: 1.5vw; }

.fa-envelope {
  margin-bottom: 5vh; }

#message_form-group, #first_form-group {
  width: 100%; }

/*Small Phones & tablets, landscape*/
@media only screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #hello_title {
    font-size: 15em; }

  #summary {
    font-size: 2vw; }

  #explore {
    position: static;
    font-size: 2.2vw; }

  #options_section {
    padding: 2em; }
    #options_section h2 {
      font-size: 4vw;
      padding-top: 3%;
      padding-bottom: 2%; }
    #options_section img:nth-child(1) {
      height: 25vh; }

  .flex-item {
    font-size: 2.3vw;
    padding-right: 3%; }
    .flex-item h3 {
      font-size: 3vw; }
    .flex-item #about_img {
      width: 19vw; }
    .flex-item #football_img {
      height: 27vh; }
    .flex-item p {
      font-size: 2vw; }

  .skillset .skill-item .skill-title {
    font-size: 2.5vw; }

  #professional, #personal {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    align-items: baseline;
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around; }

  .inner-flex {
    width: 95vw;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column; }
    .inner-flex .flex-item {
      width: 98%; }

  #contact_form form {
    font-size: 2vw;
    width: 92vw; }
  #contact_form h3 {
    font-size: 3vw;
    padding: 0 0.4em 0.2em; }
  #contact_form input[type=submit] {
    font-size: 2.2vw; }
  #contact_form .fa-5x {
    font-size: 3em; }
  #contact_form i {
    font-size: 2.5vw; }
  #contact_form .connect-icons a {
    margin: 0.5vw; }

  #message_form-group, #first_form-group {
    width: 100%; } }
/*Big Phones & tablets, landscape*/
@media only screen and (min-device-width: 569px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #professional, #personal {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    align-items: baseline;
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around; }

  #options_section img:nth-child(1) {
    height: 20vh; }

  .skillset .skill-item .skill-title {
    font-size: 1.9vw; }

  .flex-item {
    font-size: 1.7vw;
    padding-right: 3%; }
    .flex-item h3 {
      font-size: 2.3vw; }
    .flex-item #about_img {
      width: 12vw; }
    .flex-item #football_img {
      height: 20vh; }

  #message_form-group, #first_form-group {
    width: 50%; }

  .form-group {
    width: 98%; } }
/* Tablets, portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #professional, #personal {
    min-height: inherit;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    align-items: baseline;
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around; }

  .inner-flex {
    width: 100vw;
    flex-direction: column; }
    .inner-flex .flex-item {
      width: 97%; }

  #explore {
    font-size: 3vw; }

  #options_section {
    padding: 2em; }
    #options_section h2 {
      font-size: 5vw;
      padding-top: 5%;
      padding-bottom: 5%; }
    #options_section img:nth-child(1) {
      height: 13vh; }

  .flex-item {
    font-size: 2.5vw;
    padding-right: 3%; }
    .flex-item h3 {
      font-size: 3.5vw; }
    .flex-item #about_img {
      width: auto; }

  .skillset .skill-item .skill-title {
    font-size: 2.5vw; }

  #contact_form form {
    font-size: 2.1vw;
    width: 93vw; }
  #contact_form h3 {
    font-size: 3.5vw;
    padding: 0 0.4em 0.2em; }
  #contact_form input[type=submit] {
    font-size: 2.2vw; }
  #contact_form .fa-5x {
    font-size: 3em; }
  #contact_form i {
    font-size: 2.7vw; }
  #contact_form .connect-icons a {
    margin: 0.5vw; }

  #message_form-group, #first_form-group {
    width: 50%; }

  .form-group {
    width: 97%; } }
/* Tablets, landscape */
@media only screen and (min-device-width: 768px) and (max-device-height: 1366px) and (orientation: landscape) {
  #hello_title {
    font-size: 25vh; }

  #summary {
    font-size: 2.5vw; }

  #explore {
    font-size: 2.2vw; }

  #options_section {
    padding: 2em; }
    #options_section h2 {
      font-size: 4vw; }
    #options_section img:nth-child(1) {
      height: 13vh; }

  #professional, #personal {
    max-height: inherit;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    align-items: baseline;
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around; }

  .inner-flex {
    width: 100vw;
    flex-direction: column; }
    .inner-flex .flex-item {
      width: 96.5%; }

  .flex-item {
    font-size: 1.7vw; }
    .flex-item h3 {
      font-size: 2.5vw; }
    .flex-item #about_img {
      width: auto; }

  .skillset .skill-item .skill-title {
    font-size: 1.7vw; }

  #message_form-group, #first_form-group {
    width: 50%; }

  #contact_form form {
    font-size: 2vw;
    width: 93vw; }
  #contact_form h3 {
    font-size: 2.5vw;
    padding: 0 0.4em 0.2em; }
  #contact_form input[type=submit] {
    font-size: 2.2vw; }
  #contact_form .fa-5x {
    font-size: 3em; }
  #contact_form i {
    font-size: 2.7vw; }
  #contact_form .connect-icons a {
    margin: 0.5vw; }

  .form-group {
    width: 97%; } }
/*Common desktops, landscape*/
@media only screen and (min-width: 1367px) and (orientation: landscape) {
  #summary {
    font-size: 2.3vw; }

  #explore {
    position: static;
    font-size: 2.5vw; }

  #options_section h2 {
    font-size: 2.5vw; }

  .flex-item {
    font-size: 1.5vw; }
    .flex-item h3 {
      font-size: 2.5vw; }

  .inner-flex .flex-item {
    width: 96.5%; } }
/*Wide screens*/
@media only screen and (min-device-width: 1268px) {
  #hello_title {
    font-size: 18vw; }

  #summary {
    font-size: 2vw; }

  #explore {
    position: static;
    font-size: 1.5vw; }

  #professional, #personal {
    min-height: inherit; }

  #options_section {
    padding: 0 10% 2% 10%; }
    #options_section h2 {
      padding: 5%;
      font-size: 2.8vw; }

  .inner-flex {
    margin: -6px; }

  .skillset .skill-item {
    padding: 0 3% 0 3%; }

  .flex-item {
    font-size: 1.2vw;
    width: 100%;
    margin: 0.2em; }
    .flex-item h3 {
      padding-top: 0.5%;
      font-size: 2vw; }

  .skillset .skill-item .skill-title {
    font-size: 1.2vw; } }
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  #hello_title {
    font-size: 16vw; }

  #summary {
    font-size: 1.5vw; }

  #explore {
    position: static;
    font-size: 1.5vw; }

  #options_section {
    padding: 0 12% 2% 12%; }
    #options_section h2 {
      padding: 2.7%;
      font-size: 2.5vw; }
    #options_section img:nth-child(1) {
      height: 12vh; }

  .flex-item {
    font-size: 1.2vw;
    width: 100%; }
    .flex-item h3 {
      padding-top: 0.5%;
      font-size: 1.7vw; }
    .flex-item #about_img {
      width: auto; }

  .skillset .skill-item .skill-title {
    font-size: 1.2vw; } }

/*# sourceMappingURL=style.css.map */
