*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: 'Mada', sans-serif;
}

#page_container {
  opacity: 1;
  transition: 2s opacity;
}

#page_container.fade-out, #hello_title.fade-out {
  opacity: 0;
  transition: none;
}

#page_container.blured {
  opacity: .7;
}


#overview_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

#hello_title {
	width: inherit;
	font-size: 22em;
	font-weight: 900;
  color: white;   /*Fallback: assume this color ON TOP of image */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.row, .container-fluid {
  margin: 0;
}

#summary {
	text-align: center;
	font-size: 4.5vw;
	max-width: 78%;
}

/*Phones & tablets, portrait */
#explore {
  font-size: 4vw;
  margin-top: 1.3em;
  position:absolute; 
  bottom:0;  
  margin-bottom:3vh;
}

/*Phones & tablets, landscape*/
@media only screen 
  and (min-device-width: 320px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    #hello_title {
      font-size: 15em;
    }

    #summary {
      font-size: 3vw;
    }

    #explore {
      position: static;
      font-size: 2.5vw;
    }
}

/*Common desktops, landscape*/
@media only screen 
  and (min-device-width: 800px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    #summary {
      font-size: 2.5vw;
    }

    #explore {
      position: static;
      font-size: 2.5vw;
    }
}

/*Wide screens*/
@media only screen 
  and (min-device-width: 1268px)  {
    #hello_title {
      font-size: 18vw;
    }

    #summary {
      font-size: 2.5vw;
    }

    #explore {
      position: static;
      font-size: 2vw;
    }
}
